.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "menu header header header header header header"
    "menu main main main main main main"
    "menu main main main main main main"
    "menu main main main main main main";
  background-color: rgb(255, 193, 247);
}

.item1 {
  grid-area: header;
  background-color: rgb(168, 168, 168);
  min-height: 50px;
}

.item2 {
  grid-area: menu;
  background-color: rgb(44, 53, 85);
  min-width: 50px;
}

.item3 {
  grid-area: main;
  overflow: hidden;
}

.item4 {
  grid-area: footer;
}
